.skills-section {
    min-height: 100px;
    background: linear-gradient(135deg, #0F172A, #0A0F20);
    color: #fff;
    text-align: center;
    padding: 80px 20px;
    font-family: 'Helvetica Neue', sans-serif;
  }
 
  
   
  .skill-block {
    padding-top: 40px;
    margin-top: 40px;
  }
  
  
  .skill-footer {
    font-size: 14px;
    color: #888;
    margin-top: 60px;
  }
  
  .skill-link {
    color: #fff;
    margin-left: 5px;
    text-decoration: underline;
  }
  