
.dotted-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  .dotted-line-size{
    padding: 0 550px;
  }
  
  .dotted-line::before,
  .dotted-line::after {
    content: '';
    flex: 1;
    border-bottom: 1px dotted #888;
    margin: 0 12px;
  }
  .skill-types{
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
  }