@import url("https://fonts.googleapis.com/css2?family=Allison&family=Coming+Soon&family=Covered+By+Your+Grace&family=Dancing+Script&family=Itim&family=Niconne&family=Pacifico&family=Pangolin&family=Permanent+Marker&family=Sriracha&family=Yomogi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Grenze+Gotisch:wght@100..900&display=swap');
.about{

    width: 100vw;
    min-height: 70vh;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}
.content{
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-column-gap: 48px;
    max-width: 1096px;
    width: 100%;
}
.about-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    transform: translateZ(0);
}
._heading{
    font-family: "Audiowide";
    white-space: nowrap;
    font-size: 35px;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 800ms ease 400ms;
    color: color-mix(in lab, #000 90%, transparent);;
}
._hidden{
    font-family: "Audiowide";
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    overflow-wrap: normal;
}


  ._description{
    
    color: #000d00;
    font-size: 30px;
  }
  .about-line{
    display: flex;
    align-items: center;
    font-size: 16px;
}

  .about-line-divider{
    width: 30%;
    margin-right: 20px;
  }
  .about-text-line-heading{
    top: 10px;
  }
  .about-Img{
    font-family: "Metamorphous", serif;
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  .about-line-img{
    padding-left: 40px;
    
  }
  .about-line-img>img{
    height: auto;
    width: 350px;
  }

  ._contact_{
    font-family: "Audiowide", sans-serif;
    display: flex;
    gap: 10px;
    text-align: center;
    font-size: 19px;
  }