@import url("https://fonts.googleapis.com/css2?family=Allison&family=Coming+Soon&family=Covered+By+Your+Grace&family=Dancing+Script&family=Itim&family=Niconne&family=Pacifico&family=Pangolin&family=Permanent+Marker&family=Sriracha&family=Yomogi&display=swap");

.about{

    width: 100vw;
    min-height: 70vh;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}
.content{
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-column-gap: 48px;
    max-width: 1096px;
    width: 100%;
}
.about-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    transform: translateZ(0);
}
._heading{
    white-space: nowrap;
    font-size: 30px;
    margin-bottom: 24px;
    opacity: 1;
    transition: opacity 800ms ease 400ms;
    color: color-mix(in lab, #000 90%, transparent);;
}
._hidden{
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    overflow-wrap: normal;
}

.value-1 {
    animation: fontChange1 10s infinite;
  }
  .value-2 {
    animation: fontChange2 10s infinite;
  }
  .value-3 {
    animation: fontChange3 10s infinite;
  }
  .value-4 {
    animation: fontChange4 10s infinite;
  }
  .value-5 {
    animation: fontChange4 10s infinite;
  }
  .value-6 {
    animation: fontChange4 10s infinite;
  }
  .value-7 {
    animation: fontChange4 10s infinite;
  }
  .value-8 {
    animation: fontChange4 10s infinite;
  }
  
  @keyframes fontChange1 {
    0% { font-family: "Allison"; }
    25% { font-family: "Pacifico"; }
    50% { font-family: "Dancing Script"; }
    75% { font-family: "Itim"; }
    100% { font-family: "Allison"; }
  }
  @keyframes fontChange2 {
    0% { font-family: "Pangolin"; }
    25% { font-family: "Covered By Your Grace"; }
    50% { font-family: "Sriracha"; }
    75% { font-family: "Permanent Marker"; }
    100% { font-family: "Pangolin"; }
  }
  @keyframes fontChange3 {
    0% { font-family: "Niconne"; }
    25% { font-family: "Coming Soon"; }
    50% { font-family: "Yomogi"; }
    75% { font-family: "Allison"; }
    100% { font-family: "Niconne"; }
  }
  @keyframes fontChange4 {
    0% { font-family: "Itim"; }
    25% { font-family: "Pacifico"; }
    50% { font-family: "Covered By Your Grace"; }
    75% { font-family: "Sriracha"; }
    100% { font-family: "Itim"; }
  }
  @keyframes fontChange5 {
    0% { font-family: "Pangolin"; }
    25% { font-family: "Covered By Your Grace"; }
    50% { font-family: "Sriracha"; }
    75% { font-family: "Permanent Marker"; }
    100% { font-family: "Pangolin"; }
  }
  @keyframes fontChange6 {
    0% { font-family: "Allison"; }
    25% { font-family: "Pacifico"; }
    50% { font-family: "Dancing Script"; }
    75% { font-family: "Itim"; }
    100% { font-family: "Allison"; }
  }
  @keyframes fontChange7 {
    0% { font-family: "Niconne"; }
    25% { font-family: "Coming Soon"; }
    50% { font-family: "Yomogi"; }
    75% { font-family: "Allison"; }
    100% { font-family: "Niconne"; }
  }
  @keyframes fontChange8 {
    0% { font-family: "Itim"; }
    25% { font-family: "Pacifico"; }
    50% { font-family: "Covered By Your Grace"; }
    75% { font-family: "Sriracha"; }
    100% { font-family: "Itim"; }
  }

  ._description{
    font-family: "Grenze Gotisch";
    font-size: 20px;
  }
  .about-line{
    display: flex;
    align-items: center;
    font-size: 16px;
}

  .about-line-divider{
    width: 30%;
    margin-right: 20px;
  }
  .about-text-line-heading{
    top: 10px;
  }
  .about-Img{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  .about-line-img{
    padding-left: 40px;
    
  }
  .about-line-img>img{
    height: auto;
    width: 350px;
  }

  ._contact_{
    font-family: "Audiowide", sans-serif;
    display: flex;
    gap: 10px;
    text-align: center;
    font-size: 19px;
  }