@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');
.motion-container {
    min-height: 80vh;
    background-color: #000;
  }

  .main-img-box {
    min-height: 90vh;
    background-color: #000;
    background-image: url('../../../assests/bgImg8.webp'); /* Check spelling: should be 'assets' */
    background-size: cover;                  /* Makes image cover the whole container */
    background-position: center center;      /* Centers image */
    background-repeat: no-repeat;            /* Prevents tiling */
  
    /* -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.28) 48%, rgba(0,0,0,1) 79%);
    mask-image: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.28) 48%, rgba(0,0,0,1) 79%); */
    mask-composite: add;
    -webkit-mask-composite: destination-in;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem;
    text-align: center;
    overflow: hidden;
    color: #fff;
  }
  
  .main-mid-container{
    height: 300px;
    width: 400px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  34px 34px 30px #5a5a5a,
                 -34px -34px 30px #ffffff;
  }
.main-mid-box{

  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  justify-content: space-between;
  color: #ff0404;
}
.main-mid-box>h1{
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
.main-mid-box>p{
  font-family: "Tagesschrift", system-ui;
  font-weight: 200;
  font-style: normal;
}
.btn{
  padding-top: 20px;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}