.footer-section {
  height: 80vh;
  padding: 60px 20px;
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.contact-info,
.contact-form {
  flex: 1 1 45%;
  min-width: 300px;
}

.contact-info h2,
.contact-form h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
}

.contact-info p {
  font-family: Georgia;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ccc;
}

.contact-info ul {
  font-family: Georgia;
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
  color: #aaa;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  
}

.form-row {
  display: flex;
  gap: 23px;
  margin-bottom: 20px;
}

.form-row input {
  flex: 1;
}

input,
textarea {
  background: #1a1724;
  border: 1px solid #333;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  resize: none;
}
.btn-contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;

}
button {
  background-color: #7f5af0;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
  width: 10%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #6244d6;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 60px;
  }

  .form-row {
    flex-direction: column;
  }
}
