/* Background with noise overlay */
.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #121212;
  overflow: hidden;
}

/* Noise layer */
.app::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assests//noiseImg.png"); /* Put your noise image in /public folder */
  opacity: 0.05;
  pointer-events: none;
  z-index: 1;
}


