/* Background with noise overlay */
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Use min-height instead */
  background: #f2f2f2;
  color: #000;
  overflow-x: hidden; /* Prevent horizontal scroll but allow vertical scroll */
  position: relative; /* Needed for the ::before overlay */
}

/* Noise layer */
.app::before {
  content: "";
  position: absolute;
  inset: 0;
 /* background-image: url("./assests/bgImg4.webp"); // Put your noise image in /public folder */
  opacity: 0.05;
  pointer-events: none;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}
