/* Background with noise overlay */
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* Use min-height instead */
  background: #121212;
  overflow-x: hidden; /* Prevent horizontal scroll but allow vertical scroll */
  position: relative; /* Needed for the ::before overlay */
}

/* Noise layer */
.app::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assests//noiseImg.png"); /* Put your noise image in /public folder */
  opacity: 0.05;
  pointer-events: none;
  z-index: 1;
}


