.ui-box {
    border-radius: 20px;
    padding: 1rem 0.5rem;
    width: 300px;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden; 
  }



  
  .ui-text {
    position: relative;
    text-align: left;
    padding-top: 2rem;
  }
  
  .ui-text h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }
  
  .ui-text p {
    color: #cccccc;
    font-size: 0.9rem;
  }
  